<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>查看文章</title>
<link href="<?php echo base_url().'style/admin/css/public.css' ?>" type="text/css" rel="stylesheet">
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="10">查看文章</td>
		</tr>
		<tr>
			<td>AID</td>
			<td>标题</td>
			<td>栏目</td>
			<td>发表时间</td>
			<td>操作</td>
		</tr>
		<?php foreach($article as  $v): ?>
			<tr>
				<td><?php echo $v['aid'] ?></td>
				<td><?php echo $v['title'] ?></td>
				<td><?php echo $v['cname'] ?></td>
				<td><?php echo date('Y-m-d',$v['time']) ?></td>
				<td>
					<a href="<?php echo site_url('admin/article/edit_articleByAid').'/'.$v['aid'] ?>">[编辑]</a>
					<a href="<?php echo site_url('admin/article/delete_articleByAid').'/'.$v['aid'] ?>">[删除]</a>
				</td>
			</tr>
		<?php endforeach ?>
	</table>
	<div class="page">
		<?php echo $this->pagination->create_links(); ?>
	</div>
</body>
</html>