<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="<?php echo base_url().'style/admin/css/public.css' ?>" type="text/css" rel="stylesheet">
<title>修改栏目</title>
</head>
<style>
	span{color:red}
</style>
<body>
	<form action="<?php echo site_url('admin/category/edit_cate') ?>" method="post">
		<input type="hidden" name="cid" value="<?php echo $category[0]['cid']?>"/>
		<table class="table">
			<tr>
				<td class="th" colspan="10">修改栏目</td>
			</tr>
			<tr>
				<td>栏目名称</td>
				<td><input type="text" name="cname" value="<?php echo $category[0]['cname'] ?>"/>&nbsp;&nbsp;<?php echo form_error('cname','<span>','</span>') ?></td>
			</tr>
			<tr>
				<td colspan="10">
					<input type="submit" value="提交" class="input_button"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>