<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="<?php echo base_url().'style/admin/css/public.css' ?>" type="text/css" rel="stylesheet">
<title>密码修改</title>
</head>
<body>
	<form action="<?php echo site_url('admin/admin/editPwd') ?>" method="post">
		<table class="table">
			<tr>
				<td class="th" colspan="10">密码修改</td>
			</tr>
			<tr>
				<td>原始密码:</td>
				<td><input type="password" name="passwd1"/></td>
			</tr>
			<tr>
				<td>新  密  码:</td>
				<td><input type="password" name="passwd2"/></td>
			</tr>
			<tr>
				<td>确认密码:</td>
				<td><input type="password" name="passwd3"/></td>
			</tr>
			<tr>
				<td colspan="10"><input type="submit" value="提交" class="input_button"/></td>
			</tr>
		</table>
	</form>
</body>
</html>